<h4>
    #<%= obj.ticket_number %>
    <%= obj.name %>
</h4>   
<p><%= obj.create_date %></p>          
<p>
    <strong>Address:</strong> <%= obj.address %> (<a href='http://maps.google.com/?q=<%= obj.address %>+chicago' target='_blank'>Get directions</a>)<br />
    <strong>Phone:</strong> <a href='tel:+<%= obj.phone %>'><i class='fa fa-phone'></i> <%= obj.phone %></a><br />
</p>

<p>
    <strong>Request type:</strong> <%= obj.request_type  %><br />
    <strong>Summary:</strong> <%= obj.summary_of_request %><br />
    <strong>Detail of request:</strong> <%= obj.detail_of_request %>
</p>

<p>
    <strong>Symptoms:</strong> <%= obj.symptoms %><br />
    <strong>Temperature:</strong> <%= obj.temperature %><br />
</p>

<p>
    <strong>Assigned to:</strong> <%= obj.assigned_to %>
</p>