<tr>  
    <td>
        #<%= obj.ticket_number %>
    </td>    
    <td>
        <%= obj.create_date %>
    </td>             
    <td>
        <%= obj.name %>
    </td>                   
    <td>
        <a href='tel:+<%= obj.phone %>'><i class='fa fa-phone'></i> <%= obj.phone %></a><br />
        <%= obj.found %><br />
        (<a href='http://maps.google.com/?q=<%= obj.found %>+chicago' target='_blank'>Get directions</a>)
        
    </td> 
    <td>
        <%= obj.request_type %>: <%= obj.summary_of_request %><br /> <%= obj.detail_of_request %>
    </td>                 
    <td>
        Symptoms: <%= obj.symptoms %><br />
        Temp: <%= obj.temperature %>
    </td>
</tr>